Adafruit-Blinka==9.1.0
adafruit-circuitpython-ahtx0==1.0.30
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-mcp3xxx==1.5.2
adafruit-circuitpython-register==1.11.3
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
Adafruit_GPIO==1.0.3
Adafruit_MCP3008==1.0.2
APScheduler==3.11.2
binho-host-adapter==0.1.6
board==1.0
colorzero==2.0
coverage==7.13.5
gpiozero==2.0.1
iniconfig==2.3.0
packaging==26.1
pluggy==1.6.0
psutil==7.2.2
pyftdi==0.57.1
Pygments==2.20.0
pyserial==3.5
pytest==9.0.3
pytest-cov==7.1.0
pyusb==1.3.1
setuptools==82.0.1
spidev==3.8
sysv_ipc==1.2.0
typing_extensions==4.15.0
tzlocal==5.3.1
