Adafruit-Blinka==9.0.4
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.16
adafruit-circuitpython-connectionmanager==3.1.7
adafruit-circuitpython-dht==4.0.11
adafruit-circuitpython-mcp3xxx==1.5.1
adafruit-circuitpython-register==1.11.2
adafruit-circuitpython-requests==4.1.16
adafruit-circuitpython-typing==1.12.3
adafruit-circuitpython-veml7700==2.2.1
Adafruit-GPIO==1.0.3
Adafruit-MCP3008==1.0.2
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
board==1.0
colorzero==2.0
gpiozero==2.0.1
lgpio==0.2.2.0
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==82.0.1
spidev==3.8
sysv_ipc==1.2.0
typing_extensions==4.15.0
